.container-contact{
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
}

.home{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}


.contact-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 83px;
    .contact-title{
        font-size: 15px;
        margin-bottom: 17px;
        color: #9f9f9f;
        font-family: Poppins,sans-serif;
        font-weight: 400;
        line-height: 1.95;
    }
    .contact-name{
        font-size: 46px;
        margin-bottom: 37px;
        font-weight: 700;
        letter-spacing: -.25px;
        color: #f0f0f0;
        font-family: 'Poppins';
    }
}

.contact-place{
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__left{
        width: 55%;
        margin-right: 40px;
        .message{
            margin-bottom: 22px;
            line-height: 1.5;
            color: #f0f0f0;
            font-size: 1.5rem;
            font-weight: 500;
            font-family: Poppins,sans-serif;
        }
        form{
            .one{
                display: flex;
                margin-bottom: 25px;
                .input-one{
                    color: #777;
                    background-color: #161616;
                    border: none;
                    border-bottom: 1px solid #1d1d1d;
                    border-radius: 0;
                    font-size: 15px;
                    height: 44px;
                    padding: 9px 14px;
                    font-family: 'Poppins';
                    width: 100%;
                    outline: none;
                    border: none;
                    border: 1px solid transparent;
                    box-sizing: border-box;
                    &.margin{
                        margin-right: 25px;
                    }
                    &:focus{
                        border-bottom: 1px solid #009e66;
                    }
                }
            }
            .input-one{
                color: #777;
                background-color: #161616;
                border: none;
                border-bottom: 1px solid #1d1d1d;
                border-radius: 0;
                font-size: 15px;
                height: 44px;
                padding: 9px 14px;
                font-family: 'Poppins';
                width: 100%;
                outline: none;
                border: none;
                border: 1px solid transparent;
                box-sizing: border-box;
                &.margin{
                    margin-right: 25px;
                }
                &:focus{
                    border-bottom: 1px solid #009e66;
                }
            }
            textarea{
                margin-top: 25px;
                min-height: 129px;
                resize: vertical;
                margin-bottom: 25px;
            }

            .send-button{
                padding: 10px 26px;
                border: none;
                background-color: #009e66;
                border-radius: 30px;
                outline: none;
                border: 1px solid #009e66;
                color: #fff;
                font-size: 14px;
                font-weight: 400;   
                line-height: 1.5;
                font-family: 'Poppins';
                cursor: pointer;
            }
        }
    }

    &__right{
        width: 40%;
        .info{
            margin-bottom: 22px;
            line-height: 1.5;
            color: #f0f0f0;
            font-size: 1.5rem;
            font-weight: 500;
            font-family: Poppins,sans-serif;
        }
        .lorem{
            font-size: 15px;
            margin-bottom: 28px;
            color: #9f9f9f;
            font-family: Poppins,sans-serif;
            font-weight: 400;
            line-height: 1.95;
        }
    }

    .info-about-me{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 1px;
            background-color: #9f9f9f;
            height: 90%;
            opacity: 0.7;
            left: 55px;
        }
        .line{
            display: flex;
            align-items: center;
            padding-bottom: 24px;
            img{
                width: 30px;
                height: 30px;
                padding-right: 54px;
            }
            .name{
                font-size: 15px;
                font-weight: 600;
                color: #f0f0f0;
                line-height: 1.2;
                font-family: 'Poppins';
                display: block;
            }
            .full-name{
                color: #9f9f9f;
                font-family: Poppins,sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.95;
            }
            a{
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}