.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-wrapper{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            img{
                padding-top: 10px;
                object-fit: cover;
                width: 150px;
                height: 100px;
            }
        }
        .right{
            ul{
                display: flex;
                li{
                    padding: 0 10px;
                    .header-link{
                        background-color: transparent;
                        color: #fff;
                        border: none;
                        font-weight: 500;
                        font-size: 16px;
                        outline: none;
                        cursor: pointer;
                        letter-spacing: 1px;
                        font-family: sans-serif;
                        z-index: 2;
                        &:hover{
                            color: rgb(170, 3, 67);
                        }
                    }
                }
            }
        }
    }
}