h1,h2,h3,h4,h5,h6,p,a,li{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(17, 17, 17);
    padding: 0;
    margin: 0;
    // &:before{
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     min-height: 100vh;
    //     background-color: #000;
    //     opacity: 0.5;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    // }
}